.ticket {
    min-height: 100px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px 50px 10px 50px;

    .status {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .post-long {
            margin-top: 0;
            margin-right: 10px;
        }

        .active-status {
            font-size: 12px;
            background-color: #6AD963;
            color: white;
            margin-bottom: 10px;
            margin-top: 10px;
            padding: 3px 5px 3px 5px
        }
    }

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .info {

            .each-way {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .carrier-logo {
                
                    img {
                        max-width: 80px;
                    }
                }

                .text {
                    margin-right: 20px;
                    .time {
                        font-weight: bold;
                    }

                    .carrier_name {

                    }

                }

                .duration-wrapper {
                    font-weight: 500;
                    display: flex;
                    justify-content: center;
                    
                }
            }

        }

        .price {
            display: flex;
            flex-direction: column;
            align-items: center;

            .tag {
                font-weight: bold;
                font-size: 30px;
            }

            .view-action {
                margin-bottom: 10px;
            }

        }
    }
}